* {
  box-sizing: border-box;
  margin: 0 auto;
}
:root {
  --navigation-color: #fff;
  --background-color-navigation: #33292a;
  --primary-background-color: #33292a;
  --secondary-background-color: #644b4f;
  --tertiary-background-color: #333333;
  --quaternary-background-color: #f2f2f2;
  --link-color: #efa69d;
  --link-hover-color: #e9877b;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}
p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
/*-- navigace --*/
header {
  background-color: var(--background-color-navigation);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

nav {
  color: var(--navigation-color);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

nav li {
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  padding: 20px;
}
a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  background-color: var(--link-hover-color);
}

.icon {
  display: none;
  height: 35px;
  width: 30px;
  margin-left: auto;
  margin-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}
.icon img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
  .icon {
    display: block;
  }
}

/* @media (max-width: 786px) */
/*-- title --*/
.hero-title-wrap {
  position: relative;
  width: 100%;
  height: 750px;
  margin: 0 auto;
  background-image: url("./images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  color: var(--navigation-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
.hero-title {
  font-size: 75px;
  text-align: right;
  position: absolute;
  bottom: 10%;
  width: 85%;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .hero-title {
    width: 95%;
    bottom: 5%;
  }
}
@media screen and (max-width: 390px) {
  .hero-title {
    width: 95%;
    bottom: 5%;
  }
}
/*--o nas--*/
.about-us-container {
  display: flex;
  gap: 50px;
  padding: 50px 0;
  width: 70%;
  margin: 0 auto;
}
.about-us-text {
  width: 50%;
}
.about-us-img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .about-us-container {
    width: 90%;
  }
  .about-us-text {
    display: block;
    width: 50%;
  }
  .about-us-img {
    display: block;
    width: 50%;
    object-fit: cover;
    position: relative;
  }
}
@media screen and (max-width: 390px) {
  .about-us-container {
    width: 90%;
    flex-wrap: wrap;
  }
  .about-us-text {
    display: block;
    width: 90%;
  }
  .about-us-img {
    display: block;
    width: 90%;
    object-fit: cover;
    position: relative;
  }
}

/*-- Co delame --*/
.what-we-do-container {
  background-color: var(--primary-background-color);
  color: var(--navigation-color);
  width: 100%;
}

.what-we-do-text {
  padding-top: 50px;
  padding-bottom: 40px;
  width: 70%;
  text-align: center;
}
.what-we-do-photo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 70%;
  padding-bottom: 50px;
}
.what-we-do-photo-container {
  max-width: 80px;
  flex-basis: 100px;
  flex-grow: 1;
}
.what-we-do-photo {
  width: 100%;
}
.what-we-do-photo-text {
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}
h3 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .what-we-do-text {
    width: 90%;
  }
  .what-we-do-photo-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .what-we-do-photo-wrapper {
    flex-direction: column;
  }
}
/*-- galerie -- */
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  gap: 15px;
  padding: 50px 0;
}

.gallery-item {
  height: 250px;
  width: calc((100% / 3) - 10px);
  flex-shrink: 1;
  border-radius: 5px;
}

.photo-1 {
  background-image: url("./images/matej-drha-rbDzMcJsBkY-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.photo-2 {
  background-image: url("./images/anneliese-phillips-uv4-vl3liKM-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.photo-3 {
  background-image: url("./images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.photo-4 {
  background-image: url("./images/charles-black-F7HGqkkMYAU-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.photo-5 {
  background-image: url("./images/jeffrey-keenan-pUhxoSapPFA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.photo-6 {
  background-image: url("./images/chung-yee-tsang-wqxCKM0R6R8-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.photo-7 {
  background-image: url("./images/james-wheeler-ZOA-cqKuJAA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.photo-8 {
  background-image: url("./images/kalen-emsley-kGSapVfg8Kw-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.text {
  background-color: var(--quaternary-background-color);
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  height: 250px;
}
@media screen and (max-width: 768px) {
  .gallery {
    width: 90%;
  }
  .text {
    text-align: center;
  }
}
@media screen and (max-width: 390px) {
  .gallery {
    flex-direction: column;
  }
  .gallery-item {
    width: 90%;
  }
  .text {
    height: 50px;
    font-size: 20px;
  }
}
/*-- where to go --*/
.where-to-go-container {
  background-color: var(--secondary-background-color);
  color: var(--navigation-color);
  width: 100%;
}
.where-to-go-wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
}
.where-to-go-title {
  width: 30%;
  display: block;
}

.where-to-go-text {
  width: 70%;
  display: block;
}

button {
  padding: 10px 20px;
  background-color: var(--navigation-color);
  color: var(--secondary-background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 390px) {
  .where-to-go-container {
    width: 100%;
  }
  .where-to-go-wrapper {
    flex-direction: column;
    width: 90%;
  }
  .where-to-go-title {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  .where-to-go-text {
    width: 90%;
    text-align: center;
  }
}

/*-- reviews -- */

.reviews-container {
  display: inline-block;
  position: relative;
  padding: 50px 0;
  width: 100%;
}
.review-title {
  width: 30%;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}
.review-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
  gap: 50px;
  width: 70%;
}
.review-1 {
  width: 33%;
}
.review-1-text {
  padding-top: 20px;
  text-align: center;
}
.review-1-image {
  position: relative;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.review-1-name {
  font-weight: bold;
  text-align: center;
}
.review-2 {
  width: 33%;
}
.review-2-text {
  padding-top: 20px;
  text-align: center;
}
.review-2-image {
  position: relative;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.review-2-name {
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .reviews-container {
    width: 90%;
    display: block;
  }
  .review-content {
    width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .review-title {
    width: 90%;
  }
  .review-content {
    flex-direction: column;
  }
  .review-1 {
    width: 90%;
  }
  .review-2 {
    width: 90%;
  }
}
/*--galerie 2 --*/
.gallery-2 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  width: 100%;
}
.gallery-2-item {
  height: 340px;
  width: 50%;
  flex-shrink: 1;
}
@media screen and (max-width: 390px) {
  .gallery-2 {
    flex-direction: column;
  }
  .gallery-2-item {
    width: 100%;
  }
}
/*--footer--*/
footer {
  background-color: var(--tertiary-background-color);
  color: var(--navigation-color);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1200px;
  margin: auto;
}
.footer-contact {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 390px) {
  footer {
    padding-top: 20px;
  }
}
